body {
  margin: 0;
  font-family: var(--font-open-sauce-one), "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 9999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  font-family: inherit !important;
}

p {
  line-height: 1.5 !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cd {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.h-screen {
  /* fallback for Opera, IE and etc. */
  min-height: 100vh;
  min-height: 100dvh;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

.dark-theme__1mh7hnp0 {
  --sh-class: #4c97f8;
  --sh-identifier: white;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
  color-scheme: dark;
}

.prose .anchor {
  position: absolute;
  visibility: hidden;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose pre {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 14px;
  border-color: #00002d17;

  overflow: auto;
}

.dark-theme__1mh7hnp0 .prose pre {
  border-color: rgba(255, 255, 255, 0.2);
}

.prose code {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.prose pre code {
  padding: 0;

  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500;
}

.prose img {
  margin: 0;
}

.prose p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.prose h1 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.prose h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.prose h3 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.prose h4 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.prose strong {
  font-weight: 500;
}

.prose ul {
  list-style-type: disc;
  padding-left: 24px;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 24px;
}

.prose ul li,
.prose ol li {
  margin-top: 8px;
  margin-bottom: 8px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

a {
  text-decoration: unset;
}

.burger-wrapper {
  position: relative;
  user-select: none;
}
.burger-wrapper .hamburger {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.burger-wrapper .hamburger:before,
.burger-wrapper .hamburger:after {
  transition:
    top 300ms 350ms ease,
    transform 300ms 50ms ease;
  position: absolute;
  background: black;
  width: 20px;
  height: 2px;
  content: "";
}
.burger-wrapper .hamburger:before {
  top: -4px;
  left: -10px;
}
.burger-wrapper .hamburger:after {
  top: 4px;
  left: -10px;
}
.open.burger-wrapper .hamburger {
  background: transparent;
}
.open.burger-wrapper .hamburger:after,
.open.burger-wrapper .hamburger:before {
  transition:
    top 300ms 50ms ease,
    transform 300ms 350ms ease;
  top: 0;
}
.open.burger-wrapper .hamburger:before {
  transform: rotate(45deg);
}
.open.burger-wrapper .hamburger:after {
  transform: rotate(-45deg);
}
